<script lang="ts">
    import UserImage from "../components/UserImage.svelte";
    import { onMount } from "svelte";
    import type { LightDMUser } from "nody-greeter-types";
    import { push } from "svelte-spa-router";
    import Container from "../components/Container.svelte";
    import { themeSettings } from "../store/settings";
    import { userAutoSelectHappened } from "../store/runtime";
    import BigButton from "../components/BigButton.svelte";

    const select = (username: string) => {
        console.debug(`selected ${username}`);
        window.lightdm?.authenticate(username);
    };

    onMount(async () => {
        let default_user: LightDMUser = null;
        if (window.lightdm.users.length === 1) {
            default_user = window.lightdm.users[0];
        }
        if (default_user != null && !$userAutoSelectHappened) {
            $userAutoSelectHappened = true;
            window.lightdm.authenticate(default_user.username)
        }
    })

    
</script>
<Container>
	<div id="settings">
            <div class="flex flex-col gap-2 text-lg">
            <span class="flex gap-2 items-center">
		<ul>
	<li>Jerry la souris: Session élève destinée au enfants de 3 à 5 ans (Maternelle)</li>
	<li>Koda le koala: Session élève destinée au enfants de 6 à 8 ans (Cycle 2: CP-CE1-CE2)</li>
	<li>Léon le caméléon: Session élève destinée au enfants de 8 à 11 ans (Cycle 3: CM1-CM2-6e)</li>
	<li>Poe la pieuvre: Session adulte</li>
		</ul>
	    </div>
            <div class="user-option" >
        {#each window.lightdm.users as user, i}
            <UserImage bind:user />
        {/each}
            </div>
</div>
</Container>

<style>
    #settings {
        @apply text-white fill-white;
        }
    .user-option {
        @apply flex flex-row overflow-hidden select-none items-center gap-4 p-2 text-white outline-none;
    }
</style>
