<script lang="ts">
    import { onMount } from "svelte";
    import { backgroundBlur } from "../store/runtime";
    import { themeSettings } from "../store/settings";

    const timeout: number = 150;

    onMount(async() => {
        setTimeout(() => {
                $backgroundBlur = true;
        }, timeout);
    });
</script>

<div id="background" class:blurred={$themeSettings.background_blur && $backgroundBlur}></div>

<style>
    #background {
		@apply h-screen w-screen bg-cover bg-center absolute;
        height: calc(100% + 50px);
        width: calc(100% + 50px);
        left: -25px;
        top: -25px;
        background-color: rgb(21, 29, 50);
    }
</style>
