<script lang="ts">
    import type { LightDMUser } from "nody-greeter-types";
    import Icon from "./Icon.svelte";

    export let user: LightDMUser;

    const chooseImage = () => {
        if (user !== null && user.image !== null) {
            return user.image;
        }
        const fromConf = window.greeter_config.branding.user_image;
        if (fromConf !== null && fromConf !== undefined && fromConf !== "") {
            return fromConf;
        }
        return null;
    }

    let img = chooseImage();
</script>

<div class="picture" class:other={user === null}>
    {#if user !== null && img !== null}
        <img src={img} alt="profile picture of {user?.display_name}" onerror='this.style.display = "none"' />
    {/if}
    {#if user === null}
        <Icon icon="KebabHorizontal24" />
    {/if}
</div>

<style>
    .picture {
        height: 10rem;
        width: 10rem;
        background-color: rgb(33, 48, 94);
        @apply rounded-3xl overflow-hidden;
    }

    .picture.other {
        @apply border-2 border-gray-200 bg-none flex fill-gray-200 items-center justify-center;
    }

    img {
        @apply w-full h-full;        
    }
</style>

